@model AdminHotelUpdateViewModel
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Update a Hotel</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-6">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Update form</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form method="post" asp-action="Update" enctype="multipart/form-data">
                            <div class="card-body">
                                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                                <div class="form-group">
                                    <label asp-for="Name">Hotel Name</label>
                                    <input type="text" asp-for="Name" value="@Model.Name" class="form-control" placeholder="Enter hotel name">
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="City">City</label>
                                    <input value="@Model.City" type="text" asp-for="City" class="form-control" placeholder="Enter city">
                                    <span asp-validation-for="City" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Address">Address</label>
                                    <input value="@Model.Address" type="text" asp-for="Address" class="form-control" placeholder="Enter address">
                                    <span asp-validation-for="Address" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Description">Description</label>
                                    <input value="@Model.Description" type="text" asp-for="Description" class="form-control" placeholder="Enter description">
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ReceptionPhone">Reception Phone</label>
                                    <input value="@Model.ReceptionPhone" type="tel" asp-for="ReceptionPhone" class="form-control" placeholder="Enter Reception Phone">
                                    <span asp-validation-for="ReceptionPhone" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="RestaurantPhone">Restaurant Phone</label>
                                    <input value="@Model.RestaurantPhone" type="tel" asp-for="RestaurantPhone" class="form-control" placeholder="Enter Restaurant Phone">
                                    <span asp-validation-for="RestaurantPhone" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ShuttleServicePhone">Shuttle Service Phone</label>
                                    <input value="@Model.ShuttleServicePhone" type="tel" asp-for="ShuttleServicePhone" class="form-control" placeholder="Shuttle Service Phone">
                                    <span asp-validation-for="ShuttleServicePhone" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <select asp-for="RatingId" class="form-control">
                                        <option selected disabled>--Rating sechin--</option>
                                        @foreach (Rating rating in Model.Ratings)
                                        {
                                            if (rating.Id == Model.RatingId)
                                            {
                                                <option value="@rating.Id" selected>@rating.Name</option>
                                                continue;
                                            }
                                            <option value="@rating.Id">@rating.Name</option>
                                        }
                                    </select>
                                    <span asp-validation-for="RatingId" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <div><span>Current Rating</span></div>
                                    <ul class="hotel-stars text-warning" style="list-style:none; display:flex;">
                                        @{
                                            int count = 0;
                                            float hotelRating = Model.Rating.Name;
                                            bool isInteger = Int32.TryParse(hotelRating.ToString(), out int result);
                                            int intRating = (int)hotelRating;
                                        }
                                        @for (int i = 0; i < intRating; i++)
                                        {
                                            count++;
                                            <li><i class="fas fa-star"></i></li>
                                        }
                                        @if (!isInteger)
                                        {
                                            <li><i class="fas fa-star-half-alt"></i></li>
                                            count++;
                                        }
                                        @while (count != 5)
                                        {
                                            count++;
                                            <li><i class="far fa-star"></i></li>
                                        }
                                        @{
                                            count = 0;
                                        }
                                    </ul>
                                </div>
                                <div class="form-group">
                                    <input type="file" accept="image/*" asp-for="ImageFile" class="form-control" placeholder="Upload a new image file">
                                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <p>Current image</p>
                                    <img class="d-block w-100" src="~/img/HOTEL/@Model.ImageName"/>
                                    <input type="hidden" value="@Model.HotelId" asp-for="HotelId"/>
                                </div>
                            </div>
                            <!-- /.card-body -->

                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <a type="button" class="btn btn-danger"
                                   asp-action="Detail" asp-route-id="@Model.HotelId" asp-controller="AdminHotel">Cancel</a>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>
</div>
@section Scripts{
    <partial name="_ValidationPartial">
}
