@model UserDetailViewModel
    <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>DataTables</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-controller="User" asp-action="Index">User</a></li>
                        <li class="breadcrumb-item active">Detail</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">User Details</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Username</th>
                                        <th>Email</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>@Model.User.Id</td>
                                        <td>@Model.User.UserName</td>
                                        <td>@Model.User.Email</td>
                                        <td>
                                            <a class="text-primary" asp-route-id="@Model.User.Id" asp-action="Update">Update</a>
                                            <a class="text-danger" asp-route-id="@Model.User.Id" asp-action="Delete">Delete</a>
                                            <a class="text-dark" asp-route-id="@Model.User.Id" asp-action="Block">Block</a>
                                        </td>
                                        <td>
                                            <a class="text-bold" asp-route-id="@Model.User.Id" asp-action="MakeHotelUser">Make Hotel User</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
                <div class="col-12">
                    @if (Model.User.Comments.Count == 0)
                    {
                <span class="text-danger">No comments</span>
                    }
                    else
                    {
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Comments</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Hotel name</th>
                                        <th>Room name</th>
                                        <th>Content</th>
                                        <th>Rating</th>
                                        <th>Added date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (Comment comment in Model.User.Comments)
                                    {
                                        <tr>
                                            <td>@comment.Room.Hotel.Name</td>
                                            <td>@comment.Room.Name</td>
                                            <td>@comment.Content</td>
                                            <td>
                                                <ul class="hotel-stars" style="list-style:none;">
                                                    @{
                                                        int count = 0;
                                                        float rating = comment.Rating.Name;
                                                        bool isInteger = Int32.TryParse(rating.ToString()
                                                            , out int result);
                                                        int intRating = (int)rating;
                                                    }
                                                    @for (int i = 0; i < intRating; i++)
                                                    {
                                                        count++;
                                                        <li style="display:inline-block;"><i class="fas fa-star"></i></li>
                                                    }
                                                    @if (!isInteger)
                                                    {
                                                        <li><i style="display:inline-block;" class="fas fa-star-half-alt"></i></li>
                                                        count++;
                                                    }
                                                    @while (count != 5)
                                                    {
                                                        count++;
                                                        <li><i style="display:inline-block;" class="far fa-star"></i></li>
                                                    }
                                                    @{
                                                        count = 0;
                                                    }
                                                </ul>
                                            </td>
                                            <td>@comment.StartDate.ToString("dd.MM.yyyy")</td>
                                        </tr>
                                                        }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div><!-- /.card -->
                     }
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
