@model UserIndexViewModel
    <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>User list</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item active">Users</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Users</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Username</th>
                                        <th>Email</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (User user in Model.Users)
                                    {
                                        <tr>
                                            <td>@user.Id</td>
                                            <td>@user.UserName</td>
                                            <td>@user.Email</td>
                                            <td>
                                                <a class="text-warning " asp-route-id="@user.Id" asp-action="Detail">Detail</a>
                                                <a class="text-primary" asp-route-id="@user.Id" asp-action="Update">Update</a>
                                                <a class="text-danger" asp-route-id="@user.Id" asp-action="Delete">Delete</a>
                                                <a class="text-dark" asp-route-id="@user.Id" asp-action="Block">Block</a>
                                            </td>
                                            <td>
                                                <a class="text-bold" asp-route-id="@user.Id" asp-action="MakeHotelUser">Make Hotel User</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
